---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import CoordinateBar from "../components/CoordinateBar.astro";
import SystemsGrid from "../components/SystemsGrid.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Header />
	<main class="pt-20">
		<Hero />
		<CoordinateBar />
		<SystemsGrid />
	</main>
	<Footer />
</Layout>
